<h1 class="title is-3"><%= @chatroom.name %></h1>

<div id="chatroom-<%= @chatroom.id %>" class="message-area">
	<% @chatroom.messages.each do |message| %>
		<%= render 'messages/message', message: message %>
	<% end %>
</div>
		
<%= form_with(model: Message.new, id: "chat-input") do |form| %>
	<%= form.text_field :chatroom_id, value: @chatroom.id, hidden: true %>
  <div class="field">
    <div class="control">
      <%= form.text_area :content, class: 'textarea is-fullwidth', placeholder: "say something" %>
    </div>
  </div>

  <div class="control">
    <%= form.submit 'Send', class: 'button is-primary is-pulled-right' %>
  </div>
<% end %>


