<!DOCTYPE html>
<html>
  <head>
    <title>FonixChatChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "layouts/navbar"%>
    <section class="section">
      <div class="container">
        <% if notice.present? %>
        <p class="message is-info"><%= notice %></p>
        <% end %>

        <% if alert.present? || flash[:error] %>
          <p class="message is-danger"><%= alert || flash[:error] %></p>
        <% end %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
